.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar.md {
      height: 100vh;
    }
  }
  .admin-content {
    .admin-header {
      height: 40px;
      border: 1px solid red;
    }
    .admin-main {
    }
  }
}
