.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar.md {
      height: 100vh;
    }
  }
  .admin-content {
    width: 100%;

    .admin-header {
      width: 100%;
      height: 40px;
      border: 1px solid green;
    }
    .admin-main {
      width: 100%;

      border: 1px solid red;
    }
  }
}
