.manage-user-container {
}

.modal-add-user {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-width: 100%;
    }
  }
}
