.manage-user-container {
  .title {
    font-weight: 600;
    font-size: 20px;
  }
  .user-content {
    // color: red;
    .btn-add-new {
      button {
        border: none;
      }
    }
  }
}

.modal-add-user {
  .img-preview {
    border: 1px dashed #ccc;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .label-upload {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 8px;
    background-color: #eeeeee;
    cursor: pointer;
    &:hover {
      background-color: #dcdcdc;
    }
  }
}
