.register-container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    .title-header-action {
      button {
        border: 1px solid;
        border-radius: 8px;
        padding: 10px;
      }
    }
  }
}
